.heading
{
    font-size:23px;
    width:100%;
    margin: 0px;
    box-shadow: 5px 5px 5px blue;
}

.btn
{
    font-size: 15px;
    background-color:blue;
    color: black;
}
.c_p_f
{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: blue;
    line-height: 3;
 }
 canvas
 {
    border: 10px solid darkblue;
    border-radius: 20px;
    box-shadow: 10px 15px 55px grey;
    
 }
 body
 {
    background-color: black;
 }